.main-screen {
  display: flex;
  flex-direction: column; 
  align-items: flex-start; 
  justify-content: flex-start; 
  height: 94vh;
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url('./images/mainscreenlogo.PNG');
  background-size: cover;
  background-repeat: no-repeat;
  
  padding: 20px; 
}

.app-icon {
  margin-bottom: 20px; 
}

.app-icon img {
  width: 80px; 
  height: 80px;
  margin-bottom: 5px;
}

.app-icon p {
  color: white;
  font-size: 14px; 
  text-align: center; 
}

.taskbar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.taskbar img {
  width: 30px;
  height: 30px;
  margin: 0 5px;
  border-radius: 5px;
}

.taskbar img:hover {
  background-color: #555;
}